/* nome da tag {
    borda: cor e expessita
    altura: 
} */


#div1{
    border: 20px solid green;

}

.classe1{
    color:red;
    border:1px dashed yellow;
}

div{
    border: 2px dotted blue;
}

